/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

:root {
  --text-color: #0a0a0a;
  --text-color-2: #fff;
  --bg-color-1: #fff;
  --bg-color-2: #030213;
  --text-color-secondary: #717182;
  --landing-page-section-color: #ececf0;
  --input-color: #f3f3f5;

  --interviewing-status-color: #894b00;
  --interviewing-status-bg: #fef9c2;
  --applied-status-color: #193cb8;
  --applied-status-bg: #dbeafe;
  --rejected-status-color: #9f0712;
  --rejected-status-bg: #ffe2e2;
  --accepted-status-color: #016630;
  --accepted-status-bg: #dcfce7;

  --company-card-color: rgba(3, 2, 19, 0.1);
  --tipsCard-yellow: #fefce8;
  --tipsCard-green: #f0fdf4;
  --sign-out-btn: #d4183d;
  --skill-bg: #eceef2;

  /* React hot toast global styles */
  --toast-width: 300px;
  --toast-max-width: 90vw;
  --toast-min-width: 240px;
  --toast-padding: 12px 16px;
  --toast-font-size: 14px;
  --toast-line-height: 1.4;
  --toast-border-radius: 8px;
}

.custom-border {
  @apply border border-[rgba(0,0,0,0.1)] rounded-[0.875rem] p-6;
}

.custom-border-no-padding {
  @apply border border-[rgba(0,0,0,0.1)] rounded-[0.875rem];
}
